.animContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.animContainer .animFogBig {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  top: 45%;
  left: -10%;
  animation: animFogBig 20s infinite linear;
  opacity: 0;
  transform-origin: center;
  z-index: 6;
}
.animContainer .animFogMedium {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 64%;
  left: -10%;
  animation: animFogMedium 20s infinite linear;
  opacity: 0;
  transform-origin: center;
  z-index: 7;
}
.animContainer .animFogSmall {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 28%;
  left: -10%;
  animation: animFogSmall 20s infinite linear;
  opacity: 0;
  transform-origin: center;
  z-index: 5;
}
.animContainer .rainEffect {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
.animContainer .rainEffect .raindrop {
  position: absolute;
  width: 2px;
  height: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #4af);
  border-radius: 50%;
  top: -10px;
  left: 20%;
  animation: drop 1.5s infinite linear;
}
.animContainer .rainEffect .raindrop::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0;
  animation: splash 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.animContainer .flashCircle {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  top: 45%;
  left: -10%;
  pointer-events: none;
  z-index: 4;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 70%);
  opacity: 0;
  transform-origin: center;
  animation: flash 20s infinite linear;
  transition: opacity 0.05s ease-in, opacity 0.3s ease-out;
}
.animContainer .active {
  opacity: 1;
}

@keyframes animFogBig {
  0% {
    transform: translate(-50%, -50%) translateY(0.3rem) scale(100%);
    opacity: 0;
  }
  15% {
    transform: translate(-25%, -50%) translateY(-0.3rem) scale(90%);
    opacity: 1;
  }
  30% {
    transform: translate(0%, -50%) translateY(0.3rem) scale(100%);
    opacity: 1;
  }
  45% {
    transform: translate(25%, -50%) translateY(-0.3rem) scale(110%);
  }
  60% {
    transform: translate(50%, -50%) translateY(0.3rem) scale(115%);
  }
  75% {
    transform: translate(75%, -50%) translateY(-0.3rem) scale(100%);
  }
  90% {
    transform: translate(100%, -50%) translateY(0.3rem) scale(105%);
    opacity: 1;
  }
  100% {
    transform: translate(150%, -50%) translateY(0.3rem) scale(100%);
    opacity: 0;
  }
}
@keyframes flash {
  0% {
    transform: translate(-50%, -50%) translateY(0.3rem) scale(100%);
  }
  15% {
    transform: translate(-25%, -50%) translateY(-0.3rem) scale(90%);
  }
  30% {
    transform: translate(0%, -50%) translateY(0.3rem) scale(100%);
  }
  45% {
    transform: translate(25%, -50%) translateY(-0.3rem) scale(110%);
  }
  60% {
    transform: translate(50%, -50%) translateY(0.3rem) scale(115%);
  }
  75% {
    transform: translate(75%, -50%) translateY(-0.3rem) scale(100%);
  }
  90% {
    transform: translate(100%, -50%) translateY(0.3rem) scale(105%);
  }
  100% {
    transform: translate(150%, -50%) translateY(0.3rem) scale(100%);
  }
}
@keyframes animFogMedium {
  0% {
    transform: translate(-30%, -50%) translateY(0.15rem) scale(100%);
    opacity: 0;
  }
  15% {
    transform: translate(30%, -50%) translateY(-0.15rem) scale(90%);
    opacity: 1;
  }
  30% {
    transform: translate(90%, -50%) translateY(0.15rem) scale(100%);
    opacity: 1;
  }
  45% {
    transform: translate(150%, -50%) translateY(-0.15rem) scale(110%);
  }
  60% {
    transform: translate(200%, -50%) translateY(0.15rem) scale(115%);
  }
  75% {
    transform: translate(250%, -50%) translateY(-0.15rem) scale(100%);
  }
  90% {
    transform: translate(300%, -50%) translateY(0.15rem) scale(105%);
    opacity: 1;
  }
  100% {
    transform: translate(950%, -50%) translateY(0.15rem) scale(100%);
    opacity: 0;
  }
}
@keyframes animFogSmall {
  0% {
    transform: translate(-30%, -50%) translateY(0.15rem) scale(100%);
    opacity: 0;
  }
  15% {
    transform: translate(30%, -50%) translateY(-0.15rem) scale(90%);
    opacity: 1;
  }
  30% {
    transform: translate(90%, -50%) translateY(0.15rem) scale(100%);
    opacity: 1;
  }
  45% {
    transform: translate(150%, -50%) translateY(-0.15rem) scale(110%);
  }
  60% {
    transform: translate(200%, -50%) translateY(0.15rem) scale(115%);
  }
  75% {
    transform: translate(250%, -50%) translateY(-0.15rem) scale(100%);
  }
  90% {
    transform: translate(300%, -50%) translateY(0.15rem) scale(105%);
    opacity: 1;
  }
  100% {
    transform: translate(950%, -50%) translateY(0.15rem) scale(100%);
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: -50px;
    opacity: 0.8;
    transform: none;
  }
  80% {
    top: calc(100% - 10px);
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
    transform: scaleY(0.2);
  }
}
@keyframes splash {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: scale(8);
    opacity: 0;
    filter: blur(2px);
  }
}/*# sourceMappingURL=ThunderstormDay.module.css.map */